{% extends "base.html" %}
{% block content %}
<p></p>
<!-- buiten box 1 -->
<div class="box1">
    <div >
        <img class="box1_img" src="{{ url_for('static', filename='img/tent1.png') }}" alt="accomidatie_afb_1">
    </div> 
    <div class="box1_in">
        <p>Classic Bell Tent</p>

        <p>Op onze camping kun je genieten van de charme en authenticiteit van onze Classic Bell Tent. Deze tenten zijn perfect voor gasten die op zoek zijn naar een boho/hipster glampingervaring. De klassieke uitstraling van de tent roept een gevoel van traditie en authenticiteit op. Ondanks het traditionele ontwerp biedt de tent voldoende ruimte en comfort voor een aangenaam verblijf. Geniet van een rustige en sfeervolle omgeving terwijl je onze Classic Bell Tent boekt en ontspant op onze camping.</p>
    </div>
</div>

<!-- buiten box 2 -->
<div class="box2">
    <div >
        <img class="box2_img" src="{{ url_for('static', filename='img/tent2.webp') }}" alt="accomidatie_afb_2">
    </div> 
    <div class="box2_in">
        <p>Bell Plus</p>

        <p>Op onze camping bieden we ook de Bell Plus-tenten aan. Deze verbeterde versie van de klassieke bell tent is speciaal ontworpen om extra comfort en functionaliteit te bieden aan onze gasten. Met meer ruimte dan de standaardvariant, kun je je eigen persoonlijke stijl en voorzieningen toevoegen aan de tent. Of je nu een gezellige zithoek wilt creëren of een aparte ruimte voor een keukentje, de Bell Plus biedt je de vrijheid en ruimte om jouw perfecte glampingervaring te realiseren. Boek een Bell Plus-tent op onze camping en geniet van een ruime en veelzijdige accommodatie.</p>
    </div>
</div>

<!-- buiten box 3 -->
<div class="box3">
    <div >
        <img class="box3_img" src="{{ url_for('static', filename='img/tent3.webp') }}" alt="accomidatie_afb_3">
    </div> 
    <div class="box3_in">
        <p>Luna Bell Tent</p>

        <p>Op onze camping kun je ook kiezen voor de Luna Bell Tent, een moderne variant van de klassieke tipi-tent met een vleugje boho-chique. Deze tent combineert tijdloze elegantie met eigentijdse ontwerpelementen, waardoor een luxueuze en comfortabele glampingervaring ontstaat. Met voldoende ruimte en privacy, is de Luna Bell Tent perfect voor grotere groepen of gezinnen. Boek een Luna Bell Tent op onze camping en geniet van een stijlvolle en ruime accommodatie die jouw boho/hipster glampingervaring naar een hoger niveau tilt.</p>
    </div>
</div>

<!-- buiten box 4 -->
<div class="box4">
    <div >
        <img class="box4_img" src="{{ url_for('static', filename='img/tent4.webp') }}" alt="accomidatie_afb_4">
    </div> <!-- foto 4 -->
    <div class="box4_in">
        <p>Multicolor Bell Tent</p>

        <p>Op onze camping bieden we ook de Multicolor Bell Tent aan voor gasten die een levendige en kleurrijke sfeer willen ervaren. Deze tent is ontworpen om op te vallen en voegt een speelse en bohemien flair toe aan jouw glampingervaring. Geniet van de ruime en comfortabele binnenruimte van de tent, terwijl de kleurrijke canvas bekleding en unieke patronen zorgen voor een levendige en uitnodigende sfeer. Boek een Multicolor Bell Tent op onze camping en dompel jezelf onder in de kleurenpracht van jouw boho/hipster glampingavontuur. </p>
    </div>
</div>

{% endblock %}