{% extends "base.html" %}
{% block content %}
<p></p>
<!-- buiten box 1 -->
<div class="box1">
    <div >
        <img class="box1_img" src="{{ url_for('static', filename='img/tent1.png') }}" >
    </div> 
    <div class="box1_in">

        <p>{{ bungnaam1.naam }}</p>


        <p>{{ bungnaam1.omschrijving }}</p>
    </div>
</div>

<!-- buiten box 2 -->
<div class="box2">
    <div >
        <img class="box2_img" src="{{ url_for('static', filename='img/tent2.webp') }}" >
    </div> 
    <div class="box2_in"> 
        <p>{{ bungnaam2.naam }}</p>


        <p>{{ bungnaam2.omschrijving }}</p>    
    </div>
</div>

<!-- buiten box 3 -->
<div class="box3">
    <div >
        <img class="box3_img" src="{{ url_for('static', filename='img/tent3.webp') }}" >
    </div> 
    <div class="box3_in">
        <p>{{ bungnaam3.naam }}</p>


        <p>{{ bungnaam3.omschrijving }}</p>
    </div>
</div>

<!-- buiten box 4 -->
<div class="box4">
    <div >
        <img class="box4_img" src="{{ url_for('static', filename='img/tent4.webp') }}" >
    </div> <!-- foto 4 -->
    <div class="box4_in">
        <p>{{ bungnaam4.naam }}</p>

        <p>{{ bungnaam4.omschrijving }}</p>
    </div>
</div>

{% endblock %}