{% extends "base.html" %}
{% block content %}
<p></p>
<!-- buiten box 1 -->
<div class="box1">
    <div >
        <img class="box1_img" src="{{ url_for('static', filename='img/activiteit1.webp') }}" alt="activiteiten_afb_1">
    </div> 
    <div class="box1_in">
        <p>Relaxen aan het meer</p>

        <p>Laat al je zorgen achter je terwijl je ontspant aan het rustige meer op onze camping. Geniet van de serene omgeving, het kabbelende water en de verfrissende bries. Neem een boek mee, strek je uit op een comfortabele ligstoel en laat de stress van alledag wegvloeien terwijl je geniet van de rust en de natuurlijke schoonheid om je heen.</p>
    </div>
</div>

<!-- buiten box 2 -->
<div class="box2">
    <div >
        <img class="box2_img" src="{{ url_for('static', filename='img/activiteit2.jpeg') }}" alt="activiteiten_afb_2">
    </div> 
    <div class="box2_in">
        <p>Een bubbelbad onder de sterren</p>

        <p>Verwen jezelf met een ontspannende ervaring onder de sterrenhemel in ons bubbelbad. Laat de warme bubbels je vermoeide spieren kalmeren terwijl je geniet van een panoramisch uitzicht op de nachtelijke hemel. Het is de perfecte gelegenheid om te ontspannen, tot rust te komen en jezelf te verwennen na een dag vol avontuurlijke activiteiten.</p>
    </div>
</div>

<!-- buiten box 3 -->
<div class="box3">
    <div >
        <img class="box3_img" src="{{ url_for('static', filename='img/activiteit3.jpg') }}" alt="activiteiten_afb_3">
    </div> 
    <div class="box3_in">
        <p>Een mooie wandeling in het bos</p>

        <p>Trek je wandelschoenen aan en verken de prachtige natuurlijke omgeving rondom onze camping. Volg de kronkelende paden door weelderige bossen, luister naar het gezang van vogels en bewonder de diverse flora en fauna. Of je nu op zoek bent naar een rustige wandeling of een meer uitdagende trektocht, er is voor elk wat wils. Laat je verrassen door de rust en schoonheid van het bos tijdens een mooie wandeling die je dichter bij de natuur brengt.</p>
    </div>
</div>

<!-- buiten box 4 -->
<div class="box4">
    <div >
        <img class="box4_img" src="{{ url_for('static', filename='img/activiteit4.jpg') }}" alt="activiteiten_afb_4">
    </div> <!-- foto 4 -->
    <div class="box4_in">
        <p>Kampvuur</p>

        <p>Wat is een campingervaring zonder een knapperend kampvuur? Sluit je aan bij medegasten en deel verhalen en lach samen terwijl je rond het warme vuur zit. Rooster marshmallows, zing liedjes of geniet gewoon van de gezellige sfeer. Het kampvuur is de ideale plek om nieuwe vrienden te maken en herinneringen te creëren die een leven lang meegaan. Vergeet niet om 's avonds naar de heldere sterrenhemel te kijken en te genieten van het magische schouwspel dat zich boven je ontvouwt.</p>
    </div>
</div>
{% endblock %}