{% extends "base.html" %}
{% block content %}
<p></p>
<!-- buiten box 1 -->
<div class="box1">
    <div >
        <img class="box1_img" src="{{ url_for('static', filename='img/blog1.jpg') }}" >
    </div> 
    <div class="box1_in">
        <p>Cursus zelf sieraden maken</p>

        <p>Ben je geïnteresseerd in creatieve ambachten en het maken van unieke accessoires? In onze nieuwste blogpost delen we alles over onze cursus zelf sieraden maken. Leer de fijne kneepjes van het vak en ontdek hoe je prachtige handgemaakte sieraden kunt creëren die passen bij jouw stijl en persoonlijkheid. We laten je kennismaken met verschillende technieken, materialen en inspirerende ontwerpen. Doe mee aan de cursus en laat je creativiteit de vrije loop!</p>
    </div>
</div>

<!-- buiten box 2 -->
<div class="box2">
    <div >
        <img class="box2_img" src="{{ url_for('static', filename='img/blog2.jpg') }}" >
    </div> 
    <div class="box2_in">
        <p>Typecursus op echte typemachines</p>

        <p>In onze blogpost duiken we in de nostalgische wereld van de typemachines. Ontdek de charme van het typen op echte typemachines en leer blind typen als een professional. We delen waardevolle tips en tricks om je typevaardigheden te verbeteren en je te laten genieten van de ritmische klik van de toetsen. Neem deel aan onze typecursus en laat je onderdompelen in de vintage sfeer van de typemachine.</p>
    </div>
</div>

<!-- buiten box 3 -->
<div class="box3">
    <div >
        <img class="box3_img" src="{{ url_for('static', filename='img/blog3.jpg') }}" >
    </div> 
    <div class="box3_in">
        <p>Nieuwe collectie boeken voor onze bibliotheek</p>

        <p>Liefhebbers van literatuur en ontspanning zullen enthousiast zijn over onze blogpost waarin we onze nieuwe collectie boeken voorstellen. Ontdek de nieuwste titels, van spannende romans tot inspirerende non-fictie. We delen onze aanbevelingen, recensies en achtergrondverhalen over de auteurs. Of je nu op zoek bent naar een meeslepend verhaal of nieuwe inzichten wilt opdoen, onze bibliotheek heeft voor elk wat wils.</p>
    </div>
</div>

<!-- buiten box 4 -->
<div class="box4">
    <div >
        <img class="box4_img" src="{{ url_for('static', filename='img/blog4.jpg') }}" >
    </div> <!-- foto 4 -->
    <div class="box4_in">
        <p>Start van een nieuw clubhuis</p>

        <p>In onze meest recente blogpost introduceren we met trots het nieuwe clubhuis op onze glamping site. Lees alles over de faciliteiten, activiteiten en evenementen die plaatsvinden in dit bruisende centrum van sociale interactie en gemeenschapsgevoel. Ontdek hoe je lid kunt worden, welke exclusieve voordelen er zijn en welke leuke clubs en groepen je kunt ontmoeten. Het clubhuis is de perfecte plek om nieuwe vrienden te maken en samen onvergetelijke herinneringen te creëren.</p>
    </div>
</div>

{% endblock %}