{% extends "base.html" %}
{% block content %}
<p></p>
<!-- buiten box 1 -->
<div class="box1">
    <div >
        <img class="box1_img" src="{{ url_for('static', filename='img/contact1.jpeg') }}" alt="contact_afb_1">
    </div> 
    <div class="box1_in">
        <p>Contact met de camping</p>

        <p>Heb je vragen, opmerkingen of suggesties? Op deze pagina vind je alle informatie die je nodig hebt om direct contact op te nemen met onze camping. Of je nu meer wilt weten over onze accommodaties, faciliteiten, beschikbaarheid of andere algemene vragen hebt, we staan klaar om je te helpen. Vul het contactformulier in of bel ons telefoonnummer voor een snelle en persoonlijke reactie.</p>
    </div>
</div>

<!-- buiten box 2 -->
<div class="box2">
    <div >
        <img class="box2_img" src="{{ url_for('static', filename='img/contact2.jpg') }}" alt="contact_afb_2">
    </div> 
    <div class="box2_in">
        <p>Contact via mail</p>

        <p>Wil je ons liever een e-mail sturen? Op de contactpagina vind je ons e-mailadres waar je al je vragen en verzoeken naartoe kunt sturen. Of je nu specifieke informatie nodig hebt, een reservering wilt maken of andere verzoeken hebt, we streven ernaar om je e-mail zo snel mogelijk te beantwoorden. We waarderen jouw interesse en kijken ernaar uit om van je te horen.</p>
    </div>
</div>

<!-- buiten box 3 -->
<div class="box3">
    <div >
        <img class="box3_img" src="{{ url_for('static', filename='img/contact3.jpg') }}" alt="contact_afb_3">
    </div> 
    <div class="box3_in">
        <p>Adresboek van gasten</p>

        <p>Op de contactpagina bieden we ook een adresboek van gasten. Dit is een optionele functie waar gasten vrijwillig hun contactgegevens kunnen achterlaten, zodat ze in contact kunnen komen met andere gasten. Het adresboek is een geweldige manier om nieuwe mensen te leren kennen, ervaringen te delen en misschien zelfs nieuwe vriendschappen te sluiten. We respecteren jouw privacy en gegevensbescherming, dus alleen gasten die hiermee akkoord gaan, worden opgenomen in het adresboek.</p>
    </div>
</div>

<!-- buiten box 4 -->
<div class="box4">
    <div >
        <img class="box4_img" src="{{ url_for('static', filename='img/contact4.jpg') }}" alt="contact_afb_4">
    </div> <!-- foto 4 -->
    <div class="box4_in">
        <p>Mail van werknemers</p>

        <p>Wil je rechtstreeks contact opnemen met een van onze medewerkers? Op de contactpagina vind je een overzicht van de e-mailadressen van ons team. Of je nu vragen hebt voor specifieke medewerkers, suggesties wilt doen of met ons wilt communiceren over zakelijke aangelegenheden, je kunt via e-mail contact opnemen met de juiste persoon. We staan altijd open voor samenwerking en feedback.</p>
    </div>
</div>

{% endblock %}