{% extends "base.html" %}
{% block content %}
<p></p>
<!-- buiten box 1 -->
<div class="box1">
    <div >
        <img class="box1_img" src="{{ url_for('static', filename='img/faciliteit1.jpg') }}" >
    </div> 
    <div class="box1_in">
        <p>Unieke buiten douches</p>

        <p>Ervaar een verfrissende en bijzondere douche-ervaring in onze unieke buiten douches. Omringd door de prachtige natuur, kun je genieten van een verkwikkende douche terwijl je luistert naar het rustgevende geluid van stromend water en de frisse lucht om je heen voelt. Deze douches bieden een unieke combinatie van comfort en verbondenheid met de natuur, waardoor je je helemaal opgeladen zult voelen.</p>
    </div>
</div>

<!-- buiten box 2 -->
<div class="box2">
    <div >
        <img class="box2_img" src="{{ url_for('static', filename='img/faciliteit2.jpg') }}" >
    </div> 
    <div class="box2_in">
        <p>Moderne badplaatsen met sauna</p>

        <p>Verwen jezelf met ultieme ontspanning in onze moderne badplaatsen, compleet met een sauna. Na een dag vol avontuurlijke activiteiten kun je tot rust komen en je spieren laten ontspannen in de warmte van de sauna. Neem een verfrissende duik in het zwembad of geniet van de jacuzzi om helemaal tot rust te komen. Onze moderne badplaatsen bieden een luxueuze en serene omgeving waar je kunt genieten van pure ontspanning.</p>
    </div>
</div>

<!-- buiten box 3 -->
<div class="box3">
    <div >
        <img class="box3_img" src="{{ url_for('static', filename='img/faciliteit3.jpg') }}" >
    </div> 
    <div class="box3_in">
        <p>Buitenwerkplekken met internet</p>

        <p>Voor degenen die tijdens hun verblijf verbonden willen blijven met de buitenwereld, bieden we buitenwerkplekken met internet aan. Deze speciale werkruimtes in de buitenlucht bieden een inspirerende omgeving waar je kunt werken, terwijl je tegelijkertijd kunt genieten van de prachtige natuurlijke omgeving. Of je nu een freelancer bent die op afstand werkt of gewoon wat e-mails wilt bijwerken, onze buitenwerkplekken zorgen voor de perfecte balans tussen werk en ontspanning.

        </p>
    </div>
</div>

<!-- buiten box 4 -->
<div class="box4">
    <div >
        <img class="box4_img" src="{{ url_for('static', filename='img/faciliteit4.jpg') }}" >
    </div> <!-- foto 4 -->
    <div class="box4_in">
        <p>Onze mooie binnen/buiten bar</p>

        <p>Ontspan en geniet van verfrissende drankjes in onze prachtige binnen/buiten bar. Met een sfeervol interieur en een gezellig terras biedt onze bar de ideale plek om te socializen, nieuwe mensen te ontmoeten en te ontspannen na een dag vol avontuur. Probeer onze heerlijke cocktails, lokale ambachtelijke bieren of geniet gewoon van een goed glas wijn terwijl je de sfeer van de camping opsnuift.</p>
    </div>
</div>
{% endblock %}