{% extends "base.html" %}
{% block content %}
<p></p>
<!-- buiten box 1 -->
<div class="box1">
    <div >
        <img class="box1_img" src="{{ url_for('static', filename='img/informatie1.jpg') }}" alt="informatie_afb_1">
    </div> 
    <div class="box1_in">
        <p>Ontstaan van de camping</p>

        <p>Op deze pagina delen we het inspirerende verhaal achter het ontstaan van onze camping. Ontdek hoe onze visie en passie voor natuur, avontuur en een unieke ervaring hebben geleid tot het creëren van deze bijzondere glamping site. We delen hoe we onze sfeervolle accommodaties en faciliteiten hebben ontworpen om te voldoen aan de wensen van onze gasten en om een onvergetelijke omgeving te bieden waarin je kunt ontspannen en genieten.</p>
    </div>
</div>

<!-- buiten box 2 -->
<div class="box2">
    <div >
        <img class="box2_img" src="{{ url_for('static', filename='img/informatie2.jpg') }}" alt="informatie_afb_2">
    </div> 
    <div class="box2_in">
        <p>Sollicitatie</p>

        <p>Ben je geïnteresseerd in werken bij onze glamping site? Op de sollicitatiepagina vind je alle informatie die je nodig hebt over openstaande functies en hoe je kunt solliciteren. We zijn altijd op zoek naar getalenteerde en gepassioneerde mensen die ons team willen versterken en onze gasten de best mogelijke ervaring willen bieden. Ontdek hoe je deel kunt uitmaken van ons dynamische team en je vaardigheden kunt inzetten in een inspirerende werkomgeving.</p>
    </div>
</div>

<!-- buiten box 3 -->
<div class="box3">
    <div >
        <img class="box3_img" src="{{ url_for('static', filename='img/informatie3.jpg') }}" alt="informatie_afb_3">
    </div> 
    <div class="box3_in">
        <p>Vrijwilligerswerk</p>

        <p>Op onze camping bieden we ook de mogelijkheid om vrijwilligerswerk te doen. Op de vrijwilligerswerk pagina vind je informatie over de verschillende projecten en initiatieven waar je aan kunt deelnemen. Of je nu wilt bijdragen aan natuurbehoud, lokale gemeenschappen wilt helpen of wilt bijdragen aan duurzame praktijken, we bieden diverse mogelijkheden om je steentje bij te dragen. Ontdek hoe je kunt deelnemen aan ons vrijwilligersprogramma en een positieve impact kunt maken tijdens je verblijf.</p>
    </div>
</div>

<!-- buiten box 4 -->
<div class="box4">
    <div >
        <img class="box4_img" src="{{ url_for('static', filename='img/informatie4.jpg') }}" alt="informatie_afb_4">
    </div> <!-- foto 4 -->
    <div class="box4_in">
        <p>Onze locatie</p>

        <p>Op de informatiepagina delen we uitgebreide details over onze locatie. Je vindt er informatie over de omgeving, de nabijgelegen attracties en bezienswaardigheden, evenals praktische informatie zoals reisinformatie en parkeergelegenheid. We willen ervoor zorgen dat je goed geïnformeerd bent over de omgeving, zodat je het meeste uit je verblijf bij ons kunt halen. Ontdek de schoonheid van de omgeving, de nabijgelegen activiteiten en hoe je kunt genieten van alles wat deze locatie te bieden heeft.</p>
    </div>
</div>

{% endblock %}