{% extends "base.html" %}
{% block content %}
<p></p>
<!-- buiten box 1 -->
<div class="box1">
    <div >
        <img class="box1_img" src="{{ url_for('static', filename='img/informatie1.jpg') }}" >
    </div> 
    <div class="box1_in">
        <p>Welkom bij onze unieke boho-tenten!</p>

        <p>Geniet van een avontuurlijke vakantie midden in de natuur op ons prachtige park.
        Onze tenten zijn comfortabel ingericht en bieden alles wat u nodig heeft voor een ontspannen verblijf.
        Maak gebruik van onze faciliteiten zoals het zwembad en de yogalessen of verken de omgeving op de fiets.
        Boek vandaag nog uw verblijf in onze boho-tenten en ervaar de ultieme vakantie in de natuur!</p>
    </div>
</div>

<!-- buiten box 2 -->
<div class="box2">
    <div >
        <img class="box2_img" src="{{ url_for('static', filename='img/informatie2.jpg') }}" >
    </div> 
    <div class="box2_in">
        <p>Welkom bij onze unieke boho-tenten!</p>

        <p>Geniet van een avontuurlijke vakantie midden in de natuur op ons prachtige park.
        Onze tenten zijn comfortabel ingericht en bieden alles wat u nodig heeft voor een ontspannen verblijf.
        Maak gebruik van onze faciliteiten zoals het zwembad en de yogalessen of verken de omgeving op de fiets.
        Boek vandaag nog uw verblijf in onze boho-tenten en ervaar de ultieme vakantie in de natuur!</p>
    </div>
</div>

<!-- buiten box 3 -->
<div class="box3">
    <div >
        <img class="box3_img" src="{{ url_for('static', filename='img/informatie3.jpg') }}" >
    </div> 
    <div class="box3_in">
        <p>Welkom bij onze unieke boho-tenten!</p>

        <p>Geniet van een avontuurlijke vakantie midden in de natuur op ons prachtige park.
        Onze tenten zijn comfortabel ingericht en bieden alles wat u nodig heeft voor een ontspannen verblijf.
        Maak gebruik van onze faciliteiten zoals het zwembad en de yogalessen of verken de omgeving op de fiets.
        Boek vandaag nog uw verblijf in onze boho-tenten en ervaar de ultieme vakantie in de natuur!</p>
    </div>
</div>

<!-- buiten box 4 -->
<div class="box4">
    <div >
        <img class="box4_img" src="{{ url_for('static', filename='img/informatie4.jpg') }}" >
    </div> <!-- foto 4 -->
    <div class="box4_in">
        <p>Welkom bij onze unieke boho-tenten!</p>

        <p>Geniet van een avontuurlijke vakantie midden in de natuur op ons prachtige park.
        Onze tenten zijn comfortabel ingericht en bieden alles wat u nodig heeft voor een ontspannen verblijf.
        Maak gebruik van onze faciliteiten zoals het zwembad en de yogalessen of verken de omgeving op de fiets.
        Boek vandaag nog uw verblijf in onze boho-tenten en ervaar de ultieme vakantie in de natuur!</p>
    </div>
</div>

{% endblock %}