{% extends "base.html" %}
{% block content %}
<p></p>
<!-- buiten box 1 -->
<div class="box1">
    <div >
        <img class="box1_img" src="{{ url_for('static', filename='img/omgeving1.jpg') }}" alt="omgeving_afb_1">
    </div> 
    <div class="box1_in">
        <p>Het prachtige meer</p>

        <p>Onze camping is gelegen aan een adembenemend mooi meer. Geniet van de rustige wateren en de serene sfeer terwijl je ontspant aan de oever. Neem een verfrissende duik, ga kajakken of maak een ontspannen boottocht om het meer van dichtbij te verkennen. De magie van het meer zorgt voor een unieke en rustgevende ervaring die je niet snel zult vergeten.</p>
    </div>
</div>

<!-- buiten box 2 -->
<div class="box2">
    <div >
        <img class="box2_img" src="{{ url_for('static', filename='img/omgeving2.jpg') }}" alt="omgeving_afb_2">
    </div> 
    <div class="box2_in">
        <p>Mountainbike paden in het bos</p>

        <p>Voor avontuurlijke gasten biedt de omgeving rondom onze camping uitdagende mountainbike paden in het bos. Stap op je fiets en verken de kronkelende paden, omringd door weelderige groene bomen en adembenemende landschappen. Of je nu een ervaren mountainbiker bent of gewoon op zoek bent naar wat actie en adrenaline, de mountainbike paden in het bos bieden volop mogelijkheden voor avontuur en plezier.</p>
    </div>
</div>

<!-- buiten box 3 -->
<div class="box3">
    <div >
        <img class="box3_img" src="{{ url_for('static', filename='img/omgeving3.jpg') }}" alt="omgeving_afb_3">
    </div> 
    <div class="box3_in">
        <p>Het geweldig mooie bos</p>

        <p>Op korte afstand van onze camping vind je een prachtig bos dat wacht om ontdekt te worden. Laat je betoveren door de majestueuze bomen, luister naar het rustgevende geluid van ritselende bladeren en geniet van de geur van de natuur om je heen. Maak een ontspannen wandeling door het bos en ontdek verborgen plekjes en adembenemende uitzichten. Het geweldig mooie bos biedt een perfecte ontsnapping aan de drukte van het dagelijks leven.</p>
    </div>
</div>

<!-- buiten box 4 -->
<div class="box4">
    <div >
        <img class="box4_img" src="{{ url_for('static', filename='img/omgeving4.jpg') }}" alt="omgeving_afb_4">
    </div> <!-- foto 4 -->
    <div class="box4_in">
        <p>Ons lokale kunstmuseum</p>

        <p>Voor cultuurliefhebbers biedt ons lokale kunstmuseum een intrigerende ervaring. Verken de diverse tentoonstellingen en bewonder de werken van lokale kunstenaars en internationaal bekende kunstenaars. Het kunstmuseum is een bron van inspiratie en een plek om nieuwe perspectieven en creativiteit te ontdekken. Breng een bezoek aan het museum en laat je betoveren door de artistieke expressie die er te vinden is.</p>
    </div>
</div>

{% endblock %}