{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_login.css') }}">
{% for message in get_flashed_messages() %}
<div class="alert alert-warning" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}

<div class="container mt-2">
    <div class="row justify-content-md-center">
        <div class="col col-lg-4 col-md-8 col-sm-10">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-2">
                    <label class="form-label">Tent</label>
                    <select class="form-control" name="tent">
                        {% for tent in tents %}
                            <option value="{{ tent.id }}">{{ tent.omschrijving }} - nachtprijs: {{ tent.prijs_per_dag }} - personen: {{ tent.aantal_personen }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-2">
                    {{ form.startdatum.label(class="form-label") }} 
                    {{ form.startdatum(class="form-control", placeholder="Startdatum", required="required", type="date") }}
                </div>
                <div class="mb-2">
                    {{ form.einddatum.label(class="form-label") }} 
                    {{ form.einddatum(class="form-control", placeholder="Startdatum", required="required", type="date") }}
                </div>
                <div class="mb-2">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
