{% extends "base.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    
    {{ message }}
</div>
{% endfor %}
<h1>Alle boekingen</h1>


    <table>
        <tr>
            <th>Boekingnummer</th>
            <th>Bungalow type</th>
            <th>startdatum</th>            
            <th>einddatum</th>
            <th>Acties</th>
        </tr>
    {% for item in bungID %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.tent_omschrijving }}</td>
        <td>{{ item.startdatum.strftime('%d-%m-%Y')  }}</td>
        <td>{{ item.einddatum.strftime('%d-%m-%Y') }}</td>
        <td>
            <a href="{{ url_for('delete_boeking', boeking_id=item.id) }}" onclick="return confirm('Weet je zeker dat je deze boeking wilt verwijderen?')" class="verwijderen">Verwijder</a>
        </td>
    </tr>
    {% endfor %}
    </table>


<h1>pas boekingen aan </h1>
<form class="form-grid" action="/admin_boeking" method="POST">
    <input type="text" name="boeking_id" placeholder="Boekingnummer" required>
    <input type="date" name="startdatum"  required>
    <input type="date" name="einddatum"  required>
    <button type="submit">Update</button>
  </form>
  <br>
  <b>LET OP!!</b> boekingen die hier aangepast worden, worden niet geconteroleerd of er 7 dagen tussen de huidige datum en de datum van de boeking is.
<br>
<br>
<br>
<br>
<br>
<br>
  <h1>Alle tenten</h1>
  
    <table>
        <tr>
            <th>id</th>
            <th>naam</th>
            <th>omschrijving</th>            
            <th>aantal personen</th>
            <th>prijs per dag</th>
        </tr>
    {% for item in bunginfo %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.naam }}</td>
        <td>{{ item.omschrijving}}</td>
        <td>{{ item.aantal_personen}}</td>
        <td>{{ item.prijs_per_dag}}</td>
    </tr>
    {% endfor %}
    </table>


<h1>pas tenten aan </h1>
<form class="form-grid" action="/admin_tenten" method="POST">
    <input type="text" name="id" placeholder="id" required>
    <input type="text" name="naam" placeholder="naam" required>
    <input type="text" name="aantal_personen" placeholder="aantal personen" required>
    <input type="text" name="prijs_per_dag" placeholder="prijs per dag" required> 
    <textarea name="omschrijving" placeholder="Omschrijving" rows="15" cols="50" required></textarea> 
    <button type="submit">Update</button>
  </form>
  <br>
  <br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}