<!DOCTYPE html>
<html lang="nl" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

<title>Bungalow park</title>

</head>
<body>
  
        
       
        <a href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='img/bungalow.png') }}" alt="logo site" class="logo_site">
        </a>
    

      
      <nav class="navbar navbar-expand-lg  navbar-light mb-2 ">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navigatiebar">
            <li>
              <a class="nav-link {% if request.path == url_for('index') %}active{% endif %}" aria-current="page" href="{{ url_for('index') }}">Start</a>
            </li>
              <li><a class="nav-link {% if request.path == url_for('accomidatiepagina') %}active{% endif %}" aria-current="page" href="{{ url_for('accomidatiepagina')}}">Accommodaties</a>
            </li>
            <li>
              <a class="nav-link {% if request.path == url_for('activiteitenpagina') %}active{% endif %}" aria-current="page" href="{{ url_for('activiteitenpagina')}}">Activiteiten</a>
            </li>
            <li>
              <a class="nav-link {% if request.path == url_for('faciliteitenpagina') %}active{% endif %}" aria-current="page" href="{{ url_for('faciliteitenpagina')}}">Faciliteiten</a>
            </li>
            <li>
              <a class="nav-link {% if request.path == url_for('omgevingspagina') %}active{% endif %}" aria-current="page" href="{{ url_for('omgevingspagina')}}">Omgeving</a>
            </li>
            <li>
              <a class="nav-link {% if request.path == url_for('reserveringspagina') %}active{% endif %}" aria-current="page" href="{{ url_for('reserveringspagina')}}">Reservering</a>
            </li>
            <li>
              <a class="nav-link {% if request.path == url_for('contactpagina') %}active{% endif %}" aria-current="page" href="{{ url_for('contactpagina')}}">Contact</a>
            </li>
            <li>
              <a class="nav-link {% if request.path == url_for('over_ons_pagina') %}active{% endif %}" aria-current="page" href="{{ url_for('over_ons_pagina')}}">Over ons</a>
            </li>
            <li>
              <a class="nav-link {% if request.path == url_for('informatiepagina') %}active{% endif %}" aria-current="page" href="{{ url_for('informatiepagina')}}">Informatie</a>
            </li>
            <li>
              <a class="nav-link {% if request.path == url_for('blogpagina') %}active{% endif %}" aria-current="page" href="{{ url_for('blogpagina')}}">Blog</a>
            </li>
              
              
          
            {% if current_user.is_authenticated %}
              <li><a class ="nav-link2 {% if request.path == url_for('account_update') %}active{% endif %}" aria-current="page" href="{{ url_for('account_update')}}">{{ name }}</a></li>
              <li><a class="nav-link2 {% if request.path == url_for('logout') %}active{% endif %}" aria-current="page" href="{{ url_for('logout') }}">Uitloggen</a></li>
              {% if heeft_boekingen and current_user.role =='user' %}
              <li><a class="nav-link2 {% if request.path == url_for('gebruiker') %}active{% endif %}" aria-current="page" href="{{ url_for('gebruiker') }}">Boekingen</a></li>
              {% endif %}

            {% else %}
              <li><a class="nav-link2 {% if request.path == url_for('login') %}active{% endif %}" aria-current="page" href="{{ url_for('login') }}">Inloggen</a></li>
              <li><a class="nav-link2 {% if request.path == url_for('register') %}active{% endif %}" aria-current="page" href="{{ url_for('register') }}">Registreren</a></li>

              {% endif %}
            {% if current_user.role == 'admin' %}
            <li><a class="nav-link2 {% if request.path == url_for('admin_dashboard') %}active{% endif %}" aria-current="page" href="{{ url_for('admin_dashboard')}}">admin dashboard</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

{% block content %}

{% endblock %}
</body>
</html>

