{% extends "base.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    
    {{ message }}
</div>
{% endfor %}
<h1>Uw boekingen</h1>


    {% for item in bungID %}
    <table>
        <tr>
            <th>Boekingnummer</th>
            <th>Bungalow type</th>
            <th>Startdatum</th>            
            <th>Einddatum</th>
            <th>Acties</th>
            <th>Print</th>
        </tr>
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.tent_omschrijving }}</td>
        <td>{{ item.startdatum.strftime('%d-%m-%Y')  }}</td>
        <td>{{ item.einddatum.strftime('%d-%m-%Y') }}</td>
        
        <td>
            <a href="{{ url_for('delete_boeking', boeking_id=item.id) }}" onclick="return confirm('Weet je zeker dat je deze boeking wilt verwijderen?')" class="verwijderen">Verwijder</a>
        </td>
        <td>
            <a href="{{ url_for('print_booking', booking_id=item.id) }}" target="_blank">Print</a>
        </td>
    </tr>
    </table>
    {% endfor %}
    
    


<h1>Pas uw boeking aan </h1>
<form class="form-grid" action="/update_boeking" method="POST">
    <input type="text" name="boeking_id" placeholder="Boekingnummer" required>
    <input type="date" name="startdatum" required>
    <input type="date" name="einddatum"  required>
    <button type="submit">Update</button>
  </form>


{% endblock %}