{% extends "base.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}
<h1>Uw boekingen</h1>

<ul>
    <table>
        <tr>
            <th>Boekingnummer</th>
            <th>Bungalow type</th>
            <th>startdatum</th>            
            <th>einddatum</th>
            <th>Acties</th>
        </tr>
    {% for item in bungID %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.tent_omschrijving }}</td>
        <td>{{ item.startdatum.strftime('%d-%m-%Y')  }}</td>
        <td>{{ item.einddatum.strftime('%d-%m-%Y') }}</td>
        <td>
            <a href="{{ url_for('delete_boeking', boeking_id=item.id) }}" onclick="return confirm('Weet je zeker dat je deze boeking wilt verwijderen?')">Verwijder</a>
        </td>
    </tr>
    {% endfor %}
    </table>
</ul>

<h1>pas uw boeking aan </h1>
<form class="form-grid" action="/update_boeking" method="POST">
    <input type="text" name="boeking_id" placeholder="Boekingnummer" required>
    <input type="date" name="startdatum" placeholder="Startdatum" required>
    <input type="date" name="einddatum" placeholder="Einddatum" required>
    <button type="submit">Update</button>
  </form>


{% endblock %}