{% extends "base.html" %}
{% block content %}

<h1>Uw boekingen</h1>

<ul>
    {% for item in bungID %}
    <table>
        <tr>
            <th>nummer</th>
            <th>Bungalow ID</th>
            <th>startdatum</th>            
            <th>einddatum</th>
            
        </tr>
    <tr>
    <td>{{ item.id }}</td>
    <td>{{ item.bungalowID }}</td>
    <td>{{ item.startdatum }}</td>
    <td>{{ item.einddatum }}</td>
    </tr>

</table>
{% endfor %}
</ul>
<h1>pas uw boeking aan </h1>
<form action="/update_boeking" method="POST">
    <input type="text" name="boeking_id" placeholder="Boeking ID" required>
    <input type="date" name="startdatum" placeholder="Startdatum" required>
    <input type="date" name="einddatum" placeholder="Einddatum" required>
    <button type="submit">Update</button>
  </form>

{% endblock %}