{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}
  
<div class="header">
  <h1>Welkom bij Bungalowpark Zee en Duin</h1>
</div>

<div class="content">



  <div class="box5">
    <div >
        <img class="box5_img" src="{{ url_for('static', filename='img/tent1.png') }}" alt="home_afb">
    </div> 
    <div class="box5_in">
        <p><b>over ons</b></p>


        <p><b>Welkom bij Bungalowpark Zee & Duin, de perfecte bestemming voor een geweldige vakantie!
          Ons park biedt de ideale omgeving voor een ontspannen verblijf in een prachtige omgeving.
          Geniet van de gezelligheid en het comfort van onze bungalows, waar je je meteen thuis zult voelen.
          De volledig ingerichte accommodaties hebben ruime woonkamers, comfortabele slaapkamers en goed uitgeruste keukens.
          <br>
          <br>
          Ontdek de adembenemende natuur rondom ons park, met weelderige duinen en de verfrissende zee op steenworp afstand.
          Maak een ontspannende wandeling over het strand, luister naar het geluid van de golven en geniet van prachtige zonsondergangen.
          Voor avonturiers biedt ons park diverse activiteiten, zoals surfen, zeilen en fietsen.
          Verken de omgeving en ontdek pittoreske dorpjes en adembenemende landschappen.
          <br>
          <br>
          Op het park zelf zijn er ook genoeg faciliteiten.
          Begin je dag met een heerlijk ontbijt in ons gezellige restaurant, waar je ook kunt genieten van lokale gerechten voor lunch en diner.
          Onze goed gevulde supermarkt zorgt ervoor dat je alles binnen handbereik hebt.
          Daarnaast is er een verwarmd zwembad en een speeltuin voor de kinderen.
          <br>
          <br>
          Een vakantie in een bungalow bij Bungalowpark Zee & Duin is een onvergetelijke ervaring.
          Ontspan, geniet van de prachtige natuur, beleef avontuurlijke activiteiten en maak mooie herinneringen met je dierbaren. 
          Boek vandaag nog jouw droomvakantie en geniet van een geweldige tijd in ons park. We heten je van harte welkom!
       </b> </p>
        
    </div>
  </div>
</div>



{% endblock %}

      <img src="{{ url_for('static', filename='img/bungalow.png') }}" style="text-align:center; width: 20%; height: 20%;">