{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_login.css') }}">
    <h1>Booking Details</h1>
    <p>Booking ID: {{ booking.id }}</p>
    <p>Start Date: {{ booking.startdatum }}</p>
    <p>End Date: {{ booking.einddatum }}</p>
    <p>Tent: {{ booking.tent_omschrijving }}</p>
    <!-- Add more booking details as needed -->

    <!-- Add a button or link to print the page -->
    <button onclick="window.print()">Print</button>
{% endblock %}
