{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_login.css') }}">
{% for message in get_flashed_messages() %}
<div class="alert alert-warning" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}
    <h1>Reset Password</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('reset_password', token=token) }}">
        {{ form.hidden_tag() }}
        <label for="password">New Password:</label>
        {{ form.password(class="form-control") }}

        <label for="confirm_password">Confirm Password:</label>
        {{ form.pass_confirm(class="form-control") }}

        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}
