{% extends "base.html" %}
{% block content %}


  <div class="dropdown">
    <form action="/" method="POST">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if selected_option %}
          {{ selected_option }}
        {% else %}
          Dropdown
        {% endif %}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        {% for option in options %}
          <button class="dropdown-item" type="submit" name="option" value="{{ option }}">{{ option }}</button>
        {% endfor %}
      </div>
    </form>
  </div>


  <select class="form-select">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>


{% endblock %}