{% extends "base.html" %}
{% block content %}


<!-- main padding-->

<div class="main_padding">
    <div class="t2">
    </div>
</div>































{% endblock %}

<!-- buiten box 2 -->
<div class="box2">
    <div >
        <img class="box2_img" src="{{ url_for('static', filename='img/Collin.png') }}" alt="overons_afb_2">
    </div> 
    <div class="box2_in">
        <p>@Collin - Creative Director</p>

        <p>Collin is onze creatieve director, verantwoordelijk voor het creëren van de unieke en inspirerende sfeer op onze glamping site. Met haar oog voor detail en zijn artistieke visie zorgt zij ervoor dat elk aspect van onze site en faciliteiten perfect bij elkaar past. Van de inrichting van de tenten tot de aankleding van de gemeenschappelijke ruimtes, Collin streeft naar schoonheid en originaliteit om jouw verblijf zo bijzonder mogelijk te maken.</p>
    </div>
</div>

<!-- buiten box 3 -->
<div class="box3">
    <div >
        <img class="box3_img" src="{{ url_for('static', filename='img/tom.png') }}" alt="overons_afb_3">
    </div> 
    <div class="box3_in">
        <p>@Tom - CFO, CTO, CEO</p>

        <p>Tom is de drijvende kracht achter onze glamping site, en bekleedt de functies van CFO, CTO en CEO. Met zijn expertise op het gebied van financiën, technologie en bedrijfsvoering zorgt hij ervoor dat onze site succesvol en goed georganiseerd is. Hij is altijd op zoek naar nieuwe manieren om onze gasten de beste ervaring te bieden en onze faciliteiten en diensten voortdurend te verbeteren.</p>
    </div>
</div>

<!-- buiten box 4 -->
<div class="box4">
    <div >
        <img class="box4_img" src="{{ url_for('static', filename='img/overons4.jpeg') }}" alt="overons_afb_4">
    </div> <!-- foto 4 -->
    <div class="box4_in">
        <p>Eigen ontwikkeling</p>

        <p>Daarnaast zijn we trots om aan te kondigen dat we zelf bezig zijn met het ontwikkelen van nieuwe tenten. Met ons gepassioneerde team werken we aan het creëren van tenten die passen bij de boho/hipster sfeer van onze glamping site. We streven naar authentieke ontwerpen die een gevoel van traditie en authenticiteit oproepen, terwijl we tegelijkertijd zorgen voor voldoende ruimte en comfort voor onze gasten. We zijn enthousiast over dit nieuwe project en kunnen niet wachten om onze nieuwe tenten aan te bieden aan onze gewaardeerde gasten</p>
    </div>
</div>






<div class="main_padding_testt">
    
    <div>
        <!-- linker boven box testt -->
        <div class="linker_boven_box_testt">
            <div>
                <img  src="{{ url_for('static', filename='img/leendert.jpg') }}" alt="test_1"></div>
            <div>
                <h1>@Leedert - Webdeveloper</h1>
                <p>
                    Leedert is onze getalenteerde webdeveloper, die ervoor zorgt dat onze online aanwezigheid naadloos en gebruiksvriendelijk is. Met zijn passie voor technologie en design zorgt hij ervoor dat onze website een prachtige weerspiegeling is van de unieke sfeer en diensten die we bieden. Hij is altijd op zoek naar innovatieve manieren om jou als gast de best mogelijke online ervaring te bieden.
                </p>
            </div>
        </div>
        <!-- rest -->
        <!-- rest -->
    </div>
</div>
