{% extends "base.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}
<h1 style="text-align: center;">{{name}}</h1>



<form class="form-grid" action="/update_user" method="POST">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" placeholder="email" value="{{user.email}}" required>
    
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="username" value="{{user.username}}" required>
    
    <label for="woonplaats">Woonplaats:</label>
    <input type="text" id="woonplaats" name="woonplaats" placeholder="woonplaats" value="{{user.woonplaats}}" required>
    
    <label for="huisnummer">Huisnummer:</label>
    <input type="text" id="huisnummer" name="huisnummer" placeholder="huisnummer" value="{{user.huisnummer}}" required>
<!-- 
    <label for="huisnummer">toevoging</label>
    <input type="text" id="toevoeging" name="toevoeging" placeholder="toevoeging" value="{{user.toevoeging}}" required> -->
    
    <label for="straat">Straat:</label>
    <input type="text" id="straat" name="straat" placeholder="straat" value="{{user.straat}}" required>
    
    <label for="postcode">Postcode:</label>
    <input type="text" id="postcode" name="postcode" placeholder="postcode" value="{{user.postcode}}" required>
    
    <button type="submit">Update</button>
    <a href="{{ url_for('ww_vergeten') }}" class="ww_knop">wachtwoord veranderen?</a>
  </form>
  


{% endblock %}